a {
  text-decoration: none;
}

.form-photo {
  background-image: url(../../../public/images/landing_page_blur_7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  overflow: auto;
}

.form-container {
  max-width: 36rem;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
}

.form_item {
  margin-bottom: 0.7rem;
  width: 90%;

}

.form_item.MuiAccordionGroup-root,
.form_item-length {
  margin-bottom: 2.4rem;
  border-radius: 0.5rem;
}

.form_accordion {
  border-radius: 10px;
}

.input_title {
  line-height: 2;
  color: #1B3039;
  font-weight: 600;
}

.input_box .MuiAccordionDetails-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
}

.input_details {
  width: 50px;
  height: 50px;
}

.input_details .Mui-checked {
  background-color: transparent;
}

.input_details .Mui-checked:active,
.input_details .Mui-checked:hover,
.input_details .MuiCheckbox-action:active,
.input_details .MuiCheckbox-action:hover {
  background-color: transparent;
  border-radius: 50%;
}

.input_details img {
  width: 100%;
  border-radius: 50%;
}

.input_details.Mui-checked img {
  filter: invert(0.7) brightness(1.5) contrast(0.8);
}

.form_btn {
  margin-top: 2.5rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.5em 1.5em 0.5em 1.2em;
  color: white;
  border: 1px solid #DAE9F6;
  letter-spacing: 0.05em;
  border-radius: 4px;
  background-color: #1b3039;
  transition: 0.5s;

  margin-bottom: 2.5vh;
}

.form_btn:hover {
  background-color: #63A1D7;
}
