.tripspage-photo {
  background-image: url(/images/landing_page_blur_7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  overflow: auto;
}

.trips-container {
  max-width: 36rem;
  margin: 0 auto;
}

.trips-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
}

.form_item-trip {
  width: 90%;
  margin: 1rem auto;

}
