.results-photo {
  background-image: url(../../../public/images/landing_page_blur_7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  overflow: auto;
}

.results-container {
  max-width: 36rem;
  margin: 0 auto;
}

.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
}
